<main class="min-h-screen pt-8 flex justify-content-center align-items-center">
  <p-card styleClass="m-auto w-full md:w-30rem my-0">
    <h1 class="text-center">Meus<span class="text-cyan-500">Contatos</span></h1>
    <section class="px-4">
      <div class="flex justify-content-between align-items-center">
        <h2>{{contacts.length}} contatos</h2>
        <p-button label="Novo Contato" [outlined]="true" size="small" severity="info" />
      </div>
      <ul>
        @for (contact of contacts; track $index) {
        <li class="flex justify-content-between gap-2 p-3 border-round-top border-1 border-gray-300 mb-2">
          <div>
            <h3 class="p-0 m-0">{{contact.name}}</h3>
            <p class="p-0 m-0">{{contact.email}}</p>
          </div>
          <div class="flex align-items-center">
            <p-button icon="pi pi-user-edit" [rounded]="true" [text]="true" severity="info" />
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" />
          </div>
        </li>
        }
      </ul>
    </section>
  </p-card>

</main>