@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

fieldset {
  border: none;
  margin-inline-start: 0;
  margin-inline-end: 0;

  legend {
    label {
      cursor: pointer;
    }
  }
}
